alembic~=1.9.0
blinker
certifi
cffi
charset-normalizer
click
cryptography
cycler
dataclasses
decorator
decorators
distlib
dnspython
docopt
email-validator
filelock
Flask~=2.2.2
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
fonttools
gevent~=22.10.2
greenlet
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
numpy
obspy~=1.4.0
packaging
Pillow
pipreqs
platformdirs
pycparser
PyMySQL
pyparsing
python-dateutil
requests
scipy
SQLAlchemy~=1.4.45
typing_extensions
urllib3
virtualenv
Werkzeug
wtf
WTForms
yarg
zipp
zope.event
zope.interface
pandas~=1.5.2